@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
}
.begin {
    position: relative;
}
.end {
    position: relative;
}

.element {
    position: relative;
    left: 20px;
}
.key {
    position: relative;
    float: left;
    margin-right: 5px;
}
.separator {
    position: relative;
    margin-right: 5px;
    float: left;
}
.value {
    position: relative;
}